<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "testng.dtd">
<suite name="OrangeHRMSuite">
	<test name="OrangeHRMTest">
		<classes>
			<class name="com.orangehrm.test.DummyClass"></class>
		    <class name="com.orangehrm.test.LoginPageTest"></class>
            
		</classes>
	</test>


</suite>